<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
	<head>
		<title>Chatbot</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
		<style>

		</style>
	</head>
	
	
	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">		
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<!-- <img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img"> -->
									<img src="https://png.pngtree.com/png-clipart/20230815/original/pngtree-chat-bot-icon-talk-service-robot-vector-picture-image_10800517.png" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>NutriGuide</span>
									<p>Ask me anything!</p>
								</div>
							</div>
						</div>
						<div id="messageFormeight" class="card-body msg_card_body">
							
							
						</div>
						<div class="card-footer">
							<form id="messageArea" class="input-group">
								<div class="input-group-prepend">
									<input type="file" id="fileInput" style="display:none;" accept=".jpg, .jpeg, .png">
									<button type="button" id="attach" class="input-group-text attach_btn"><i class="bi bi-paperclip" style="font-size: 21px;"></i></button>
								</div>
                                <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/>
								<div class="input-group-append">
									<button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			$("#attach").click(function() {
				$("#fileInput").click();
			});
	
			$("#fileInput").change(function() {
				var file = this.files[0];
				if (file) {
					var reader = new FileReader();
					reader.onload = function(e) {
						var rawText = e.target.result;
						var fileName = file.name;

			const date = new Date();
            const hour = date.getHours();
            const minute = date.getMinutes();
            const str_time = hour + ":" + (minute < 10 ? '0' + minute : minute);

            // Display the uploaded image as a user message
            var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send"><img src="' + rawText + '" class="img-fluid" style="max-width: 200px; max-height: 200px;"><span class="msg_time_send">' + str_time + '</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';
            $("#messageFormeight").append(userHtml);
	
						$.ajax({
							url: "/upload_image",
							type: "POST",
							data: {
								image: rawText,
								name: fileName
							},
							success: function(response) {
								const date = new Date();
								const hour = date.getHours();
								const minute = date.getMinutes();
								const str_time = hour + ":" + (minute < 10 ? '0' + minute : minute);
	
								// Append the RAG result
								var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://png.pngtree.com/png-clipart/20230815/original/pngtree-chat-bot-icon-talk-service-robot-vector-picture-image_10800517.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + response.rag_result + '<span class="msg_time">' + str_time + '</span></div></div>';
								$("#messageFormeight").append($.parseHTML(botHtml));
							},
							error: function(error) {
								console.error("Error uploading file:", error);
							}
						});
					};
					reader.readAsDataURL(file);
				}
			});
           
			$(document).ready(function() {

			
				$("#messageArea").on("submit", function(event) {
					const date = new Date();
					const hour = date.getHours();
					const minute = date.getMinutes();
					const str_time = hour+":"+minute;
					var rawText = $("#text").val();

					var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';
					
					$("#text").val("");
					$("#messageFormeight").append(userHtml);

					$.ajax({
						data: {
							msg: rawText,	
						},
						type: "POST",
						url: "/get",
					}).done(function(data) {
						var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://png.pngtree.com/png-clipart/20230815/original/pngtree-chat-bot-icon-talk-service-robot-vector-picture-image_10800517.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data + '<span class="msg_time">' + str_time + '</span></div></div>';
						$("#messageFormeight").append($.parseHTML(botHtml));
					});
					event.preventDefault();
				});
			});
		</script>
        
    </body>
</html>